<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="assets/welcome.css">
    <link rel = "stylesheet" href="assets/timeline.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script type="text/javascript" src="assets/welcome.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>

    <script>
      function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
          dots.style.display = "inline";
          btnText.innerHTML = "Read more";
          moreText.style.display = "none";
        } else {
          dots.style.display = "none";
          btnText.innerHTML = "Read less";
          moreText.style.display = "inline";
        }
      }

    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
</head>

<body>
    <header>

        <div class="heading">
            <h1>Reach out for the stars</h1>

        </div>
        <div class="space">
            <div class='stars'></div>
            <div class='twinkling'></div>
            <div class='shootingstars'></div>
        </div>
    </header>

    <section>
        <div class="text-center">
            <h1>Portfolio</h1>
            <p>Niklas Bubeck</p>
            <img src="https://avatars.githubusercontent.com/u/109283764?v=4" class="circle mb-3" style="max-width: 150px;">
            <div class="socialmedia" align="center">
                <a href="https://www.linkedin.com/in/niklas-bubeck/"><i class="fa-brands fa-linkedin fa-2xl" style="color: #b08d4b; padding:5px;"></i></a>
                <a href="https://medium.com/@niklas.bubeck"><i class="fa-brands fa-medium fa-2xl" style="color: #b08d4b; padding:5px;"></i></a>
                <a href="https://github.com/niklasbubeck"><i class="fa-brands fa-github fa-2xl" style="color: #b08d4b; padding:5px;"></i></a>
            </div>
            <div class="download">
              <a href="../assets/resume_niklas_bubeck.pdf" download="resume_niklas_bubeck">Download Resume</a>
            </div>
        </div>
    </section>

    <section>
        <div class="earth">
        </div>
    </section>



    <section>
        <div class="rocket">
            <div class="rocket-body">
                <div class="body"></div>
                <div class="fin fin-left"></div>
                <div class="fin fin-right"></div>
                <div class="window"></div>
            </div>
            <div class="exhaust-flame"></div>
            <ul class="exhaust-fumes">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="description">
            <h1>Hi.</h1>
            <p>
                I'm a detail-oriented master’s student with multiple years of experience in the field of autonomous driving, automated intelligent systems, computer vision, artificial intelligence as well as IoT. Showed outstanding leadership skills while managing the
                driverless project and leading the autonomous software team of an accelerated and successful FSAE team as well as germanys biggest AI related student consultancy. Interdisciplinary and dedicated to tech, having worked in vastly different environments from aggressive start-ups to big corporations.
                Even though my main focus is computer science, my attributes are wide-ranging due to my background.
            </p>

        </div>
        
        <div class="resume">
            <h1>What I'm doing?</h1>
            <p>
                My curiosity knows no bounds when it comes to the latest technological advancements, particularly in the areas of medical imaging and autonomous driving. These fields have captivated my interest and fueled my passion for the endless possibilities that they offer. 
                But, it's not just limited to these areas, as my fascination with the rapidly evolving realm of artificial intelligence continues to grow. Whether it's exploring cutting-edge algorithms or delving into innovative solutions, I find myself drawn to the limitless potential of today.
            </p>
        </div>

        <div class="story resume">
          <h1>My Story: </h1>
          <p>
            After finishing school, I pursued a degree in medical engineering, which I found appealing due to its interdisciplinary nature, combining computer science, electrical engineering, and materials science. I specialized in imaging techniques and became passionate about programming, leading me to develop a learning platform for students that was hosted on Heroku. <br>
            <span id="dots">...</span><span id="more">
            During my studies, I also worked as a working student at Siemens for over two years. In this role, I was responsible for internal testing and worked as a liaison between developers and product owners. It was an invaluable experience that provided me with practical skills and helped me gain a deeper understanding of the industry.<br>
            
            In addition to my work at Siemens and my studies, I participated in a student project to build an autonomous race car, which allowed me to develop skills in project management and team leadership. This experience sparked an interest in autonomous systems, leading me to continue my studies with a master's degree in Munich. While there, I worked with a service provider on testing automation for HiL test stations for autonomous driving functions.<br>
          
            Currently, I am writing my master's thesis at the AI for Medicine lab, where I am working with cutting-edge medical imaging technologies. In addition to my studies, I remain active in student clubs and organizations, collaborating with fellow students to set and achieve common goals.</span>
          </p>
          <button onclick="myFunction()" id="myBtn">Read more</button>
      </div>

        <div class="timeline">
            <div class="outer">
              <div class="card">
                <div class="info">
                  <h3 class="title">TUM.ai - Head of Industry Department</h3>
                  <h5 class="time">Apr 2023 - Now</h5>
                  <p>With over 100 active members, TUM.ai is Germany's leading AI student initiative, located in Munich. <br>

                    Together with our highly talented members, we run projects with industry partners (e.g. Google, Microsoft, ...), workshops, AI E-Labs (AI startup incubator), and so-called "Makeathon" product development competitions all around the topic of Artificial Intelligence. We thrive to deploy AI solutions into new fields and industries!<br>
                    
                    The Industry department focuses on connecting motivated students with experience in ML/AI fields with companies seeking to introduce ML/AI solutions to their ongoing products. This is achieved during our Industry Phase, a biannual 12-week program with teams of 4 to 5 participants taking on partner challenges within different fields of application. During the Industry Phase, we conduct different expert lectures, social events, milestone meetings, and pitch days. The students learn to work in an agile setting, expand their professional network and apply AI to projects. The companies achieve desired deliverables, promote themselves, and discover potential talents.
                    
                    <li>Leading the industry department with ~20 members</li>
                    <li>Leading the TUM.ai Industry Phase (AI Projects with renowned companies like Infineon, UniCredit, ProSiebenSat1, ...)</li>
                    <li>Product Management + Strategy</li> </p>
                </div>
              </div>
              <div class="card">
                <div class="info">
                  <h3 class="title">TUM.ai - Active Member Industry Department</h3>
                  <h5 class="time">Nov 2022 - Apr 2023</h5>
                  <p>
                    <li> Participating in AI projects & workshops</li>
                    <li> Partner communication & project sourcing</li>
                    <li> Definition of AI challenges & project organization (technical, legal, ...)</li>
                    <li> Supervising teams as AI expert</li> </p>
                </div>
              </div>
              <div class="card">
                <div class="info">
                  <h3 class="title">IAV - Working Student Tool Development for HiL Test Automatisation</h3>
                  <h5 class="time">Nov 2021 - Dec 2022</h5>
                  <p>
                    Development of a Chrome Extension for automatic filling of documentation systems including: 
                    <li> Front-end design using Html and CSS </li>
                    <li>Asynchronous Javascript</li>
                    <li>API</li>

                    Related backend development for automatic upload of test traces including:
                    <li>Development of Windows Services </li>
                    <li>Development of a Flask Server and XMLRPCServer </li>
                    <li>Multithreaded task handling</li>
                    <li>Connected with a database </li>

                    Parallelization and performance improvement of automated test bench commissioning<br>

                    Code refactoring and documentation
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="info">
                  <h3 class="title">High-Octane Motorsports e.V. - Advisory Software Engineer</h3>
                  <h5 class="time">Sep 2020 - Sep 2021</h5>
                  <p>
                    Advisor and developer in the final year of the FSAE experience. 
                    <li> Interaction with student initiatives and university affairs </li>
                    <li> Advisor for: clean code, evaluating technological concepts of software as also hardware stacks </li>
                    <li> Implementations regarding model predictive control</li>

                  </p>
                </div>
              </div>
              <div class="card">
                <div class="info">
                  <h3 class="title">High-Octane Motorsports e.V. - Teamlead Autonomous Software and Project Lead Driverless</h3>
                  <h5 class="time">Sep 2019 - Sep 2020</h5>
                  <p>
                    In addition to software development, taking on managing tasks and leadership roles: 
                    <li> Rebranding of the club to match autonomous innovation. Sponsor acquisition and sponsor support. </li>
                    <li> Buildup of test-driven development and continuous integration as well as agile process management. </li>
                    <li> Design and development of linear-quadratic regulators with dynamic non-linear vehicle models – C++, Python </li>
                    <li> Pathfinding and motion planning, trajectory optimization. Using triangulation, probabilistic, and filtering methods – C++, Python </li>
                    <li> Co-developing in the fields of SLAM and Perception. Using fastSLAM methods and YOLO detectors. - C++, Python </li>
                    <li> System integration of sensor technology - Radar, LiDAR, IMU, Cameras</li>

                  </p>
                </div>
                </div>
                <div class="card">
                    <div class="info">
                      <h3 class="title">High-Octane Motorsports e.V. - Software Engineer</h3>
                      <h5 class="time">Oct 2018 - Sep 2019</h5>
                      <p>
                        Developing motion planning methods mainly using splines and clothoids – C++ 
                        <li> Assistance in manufacturing of the wiring harness including the communication system of the vehicle - CAN bus, Ethernet </li>
                        <li> Assistance in the production of turned parts as well as mechanical components and assemblies </li>
                      </p>
                    </div>
                </div>
                    <div class="card">
                        <div class="info">
                          <h3 class="title">Siemens AG - Working Student Software Tests and IoT</h3>
                          <h5 class="time">Sep 2019 - Sep 2020</h5>
                          <p>
                            <li> E2E User tests for mobile applications (android, ios) as well as web applications </li>
                            <li> REST API endpoint tests</li>
                            <li> Development of automatic UI tests for the android application </li>
                            <li> Participation in UI and UX validation</li>
                            <li> Commissioning of hardware and microcontrollers</li>
                          </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                          <h3 class="title">Chair of Technical Electronics FAU - Student Assistant  </h3>
                          <h5 class="time">Sep 2019 - Sep 2020</h5>
                          <p>
                            Student assistant holding the tutorial for ‘fundamentals of electrical engineering’. <br>
                            Teaching other students and preparing them for the exam. <br>
                            <li> First contact with teaching in a university setting </li>
                            <li> More detailed study about electrical engineering</li>
                          </p>
                        </div>
                    </div>
              </div>
            </div>
          </div>

          <div class="others resume">
            <h1>Other Projects Include!</h1>
        </div>

</body>
</html>