:root {
    --primary: #2B2B2B;
    --dark-primary: #B08D4B;
    --light-primary: #B08D4B;
    --text: #B08D4B;
    --primary-text: #37C0AA;
    --secondary-text: #757575;
    --accent: #2B2B2B;
}

.resume {
    margin-left: 25%;
    margin-right: 25%;
}

.resume p {
    font-size: 22px;
    color: #2B2B2B;
}

.resume h1 {
    font-size: 36px;
    color: var(--dark-primary);
}
/* Timeline Container */
.timeline {
    margin: 400px auto;
    padding: 20px;
    max-width: 50%;
  }
  
  /* Card container */
  .card {
    position: relative;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 50px 0 50px 50px;
  }
  .card:nth-child(even) {
    padding: 50px 50px 50px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--dark-primary);
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    font-size: small;
    flex-direction: column;
    font-family: 'Arial';
    background: var(--primary);
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
  .info p {
    font-family: 'Arial';
    font-size: small;
  }
  
  /* Title of the card */
  .title {
    color: var(--dark-primary);
    position: relative;
  }
  
  /* time of the event */
  .time{
    color: var(--secondary-text);
    position: relative;
  }


/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid var(--dark-primary);
  }
  
  /* text right if the card is even 
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  .card:nth-child(odd) > .info > .subtitle{
    text-align: right;
  } */

  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -65px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -65px;
  }